server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/wallets_dev
    username: dev_user
    password: dev_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

kafka:
  bootstrap-servers: localhost:9092

logging:
  level:
    root: INFO
    br.com.walletservice: DEBUG
